autoload -U colors && colors
autoload -U promptinit && promptinit
setopt promptsubst

# key mappings
# - delete word
# - delete line
#   ==> see https://coderwall.com/p/ds2dha/word-line-deletion-and-navigation-shortcuts-in-iterm2

{{ if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/opt/openjdk/bin:/opt/homebrew/bin:$PATH"
{{- end }}
export PATH=$HOME/.yarn/bin:$PATH
export PATH=$PATH:$HOME/bin

HISTSIZE=1000
SAVEHIST=1000
HISTFILE=~/.history

git_prompt_info() {
  current_branch=$(git current-branch 2> /dev/null)
  if [[ -n $current_branch ]]; then
    echo " %{$fg_bold[green]%}$current_branch%{$reset_color%}"
  fi
}

{{- if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/share/antigen/antigen.zsh
{{- end }}

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
antigen bundle brew
antigen bundle bundler
antigen bundle command-not-found
antigen bundle docker
antigen bundle git
antigen bundle gem
antigen bundle macos
antigen bundle zsh-users/zsh-autosuggestions
# antigen bundle kiurchv/asdf.plugin.zsh
# antigen bundle Tarrasch/zsh-autoenv
antigen bundle zsh-users/zsh-syntax-highlighting

POWERLEVEL9K_COLOR_SCHEME="light"
POWERLEVEL9K_SHORTEN_DIR_LENGTH=1
POWERLEVEL9K_SHORTEN_DELIMITER=""
POWERLEVEL9K_SHORTEN_STRATEGY="truncate_from_right"
POWERLEVEL9K_PROMPT_ON_NEWLINE=true
POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(vcs kubecontext newline dir)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status root_indicator background_jobs load command_execution_time)

ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=3'

# run `p10k configure` to download fonts
antigen theme romkatv/powerlevel10k

antigen apply

export ERL_AFLAGS="-kernel shell_history enabled"
export EDITOR="emacs"

export PATH="/usr/local/opt/postgresql@11/bin:$PATH"

# bat
export BAT_THEME="Solarized (light)"

{{ if eq .chezmoi.hostname "jeremys-mbp" }}
{{ template "work_laptop"}}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# iTerm stuff
export DISABLE_AUTO_TITLE="true"
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
{{- end }}

export PATH="$HOME/.yarn/bin:$PATH:$HOME/bin"

{{- if eq .chezmoi.os "darwin" }}
. /opt/homebrew/opt/asdf/libexec/asdf.sh
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# 1Password CLI
source ~/.config/op/plugins.sh
{{- end }}

eval "$(direnv hook zsh)"
